In [14]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
# Algorithms
from sklearn import linear_model
from sklearn import neural_network
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC, LinearSVC

In [15]:
test_df = pd.read_csv("test.csv")
train_df = pd.read_csv("train.csv")

In [83]:
train_df.head(10)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,0,22.0,1,0,A/5 21171,7.2500,NaN,1.0,1
1,2,1,1,1,38.0,1,0,PC 17599,71.2833,C85,2.0,3
2,3,1,3,1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,1.0,2
3,4,1,1,1,35.0,1,0,113803,53.1000,C123,1.0,3
4,5,0,3,0,35.0,0,0,373450,8.0500,NaN,1.0,1
5,6,0,3,0,0.0,0,0,330877,8.4583,NaN,3.0,1
6,7,0,1,0,54.0,0,0,17463,51.8625,E46,1.0,1
7,8,0,3,0,2.0,3,1,349909,21.0750,NaN,1.0,4
8,9,1,3,1,27.0,0,2,347742,11.1333,NaN,1.0,3
9,10,1,2,1,14.0,1,0,237736,30.0708,NaN,2.0,3

In [17]:
genders = {"male": 0, "female": 1}
data = [train_df, test_df]

for dataset in data:
    dataset['Sex'] = dataset['Sex'].map(genders)

In [18]:
ports = {"S": 1, "C":2, "Q": 3}
data = [train_df, test_df]

for dataset in data:
    dataset['Embarked'] = dataset['Embarked'].map(ports)
    
for dataset in data:
    dataset['Embarked'] = dataset['Embarked'].fillna(1)

In [19]:
data = [train_df, test_df]

for dataset in data:
    dataset['Age'] = dataset['Age'].fillna(0)

In [32]:
data = [train_df, test_df]

for dataset in data:
    dataset['Fare'] = dataset['Fare'].fillna(0)

In [20]:
data = [train_df, test_df]
titles = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}

for dataset in data:
    # extract titles
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)
    # replace titles with a more common title or as Rare
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr',\
                                            'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    # convert titles into numbers
    dataset['Title'] = dataset['Title'].map(titles)
    # filling NaN with 0, to get safe
    dataset['Title'] = dataset['Title'].fillna(0)
train_df = train_df.drop(['Name'], axis=1)
test_df = test_df.drop(['Name'], axis=1)

In [33]:
X_train = train_df.take([2,3,4,5,6,8,10,11],axis=1)
X_test = test_df.take([1,2,3,4,5,7,9,10],axis=1)
Y_train = train_df['Survived']

from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()

X_train = mm_scaler.fit_transform(X_train)
X_test = mm_scaler.fit_transform(X_test)

In [86]:
print(X_train)

[[1.         0.         0.275      ... 0.01415106 0.         0.        ]
 [0.         1.         0.475      ... 0.13913574 0.5        0.5       ]
 [1.         1.         0.325      ... 0.01546857 0.         0.25      ]
 ...
 [1.         1.         0.         ... 0.04577135 0.         0.25      ]
 [0.         0.         0.325      ... 0.0585561  0.5        0.        ]
 [1.         0.         0.4        ... 0.01512699 1.         0.        ]]

In [101]:
from sklearn.model_selection import cross_val_score
sgd = neural_network.MLPClassifier(hidden_layer_sizes=(20,15,10,5),solver='adam', alpha=0.003, learning_rate_init = 0.001, max_iter=1000)
scores = cross_val_score(sgd, X_train, Y_train, cv=5, scoring = "accuracy")
print("Scores:", scores)
print("Mean:", scores.mean())
print("Standard Deviation:", scores.std())

Scores: [0.77653631 0.81005587 0.83707865 0.7752809  0.83050847]
Mean: 0.8058920407818035
Standard Deviation: 0.026056522114101966

In [115]:
sgd = neural_network.MLPClassifier(hidden_layer_sizes=(20,5),solver='adam',activation='tanh', alpha=0.003, learning_rate_init = 0.001, max_iter=1000)
sgd.fit(X_train, Y_train)

sgd.score(X_train, Y_train)

acc_sgd = round(sgd.score(X_train, Y_train) * 100, 2)
print(acc_sgd)

81.93

In [71]:
survived = sgd.predict(X_test)
passengers = np.arange(892,1310)
df = pd.DataFrame({'PassengerId':passengers,'Survived':survived})
df.to_csv('survived.csv', index=False)